AWS_REGION=us-east-1

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

DB_HOST=<db-host>  # e.g. a read-only replica hostname
DB_PORT=5432
DB_NAME=arable
DB_USER=
DB_PASSWORD=

# Optionally, if SSH access is required
SSH_HOST=<ssh-host>
SSH_PORT=22
SSH_USER=
SSH_PRIVATE_KEY=
SSH_PASSWORD=
